<header>
    <ul>
        <li class="<%= (path === '/' )? 'active' : '' %>"><a href="/">home</a></li>
        <li class="<%= (path === 'products' )? 'active' : '' %>"><a href="/products">products</a></li>
        <li class="<%= (path === 'cart' )? 'active' : '' %>"><a href="/cart">cart</a></li>
        <li class="<%= (path === 'add-product' )? 'active' : '' %>"><a href="/add-product">add product</a></li>
        <li class="<%= (path === 'admin' )? 'active' : '' %>"><a href="/admin">admin</a></li>
    </ul>
</header>